<h1 class="text-2xl font-semibold mb-4">Add Doctor</h1>

<form action="/doctors/add" method="POST" class="space-y-4 max-w-md bg-white p-6 rounded shadow">

    <div>
        <label class="block font-medium mb-1">Doctor Name</label>
        <input name="name" placeholder="Full Name" class="w-full border p-2 rounded" required>
    </div>

    <div>
        <label class="block font-medium mb-1">Specialization</label>
        <input name="specialization" placeholder="e.g. Cardiologist" class="w-full border p-2 rounded" required>
    </div>

    <div>
        <label class="block font-medium mb-1">Phone Number</label>
        <input name="phone" placeholder="Phone" class="w-full border p-2 rounded" required>
    </div>

    <div>
        <label class="block font-medium mb-1">Fees</label>
        <input name="fees" type="number" placeholder="Fees" class="w-full border p-2 rounded">
    </div>

    <button class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Create Doctor
    </button>

</form>

